
/*
Thanks for the inspiration
@tannerbyers: https://codepen.io/tannerbyers
@craigiswayne: https://codepen.io/craigiswayne
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Code Pro","PT Sans Mono","Monaco","Iconsolas","Droid Sans Mono",monospace;
  font-size:14px;
  background-color: #404040;
}

h3{
  margin: 10px;
}

a{
  color: #d5d5d5;
  text-decoration: none;
  margin: 10px;
}

a:hover{
  color: white;
}

.console {
  border-top: 28px solid #d5d5d5;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: #1e1e1e;
  margin-top: 200px;
}

.console-body{
  display: flex;
  background-color: #1e1e1e;
  min-width: 800px;
  min-height: 400px;
  color: #d5d5d5;
}

.console-menu{
  background-color: #3B3B3B;
  width: 150px;
  height: 400px;
}

.console-folder{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
  height: 300px;
}

.folder-1 p{
  text-align: center;
  width: auto;
  right: auto;
}

.folder-2 p{
  text-align: center;
  width: auto;
  right: auto;
}

.folder-3 p{
  text-align: center;
  width: auto;
  right: auto;
}



img{
  margin: 25px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

p{
  color: white;
}

textarea {
  background-color: #1e1e1e;
  min-width: 800px;
  min-height: 400px;
  background: none;
  color: white;
  margin: 0px;
  padding: 30px 17px 20px 17px;
  font-size: 15px;
  line-height: 34px;
  border: none;
  overflow: hidden !important;
  outline: none !important;
  resize: none !important; 

  
  &:focus, &:active { 
    outline: none;
  }
}



.dots-container{
  position: absolute;
  top: -28px;
  left: 0;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

  .dot-red{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 7px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    background-color: white;
    background-color: #ff6057;
    }

  .dot-yelow{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 7px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    background-color: white;
    background-color: #ffc22e;
    }

  .dot-green{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 7px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    background-color: white;
    background-color: #28ca40;
    }

